node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
gateway-api/prisma/dev.db
gateway-api/uploads/candidates/
omr-worker/26.1
omr-worker/Fatal
mychannel_newest.block
gateway-api/dist/
gateway-api/dist/
